/* admin panel */

.admin-container{
    display: flex;
    max-height: 100% !important;
}

.admin-sidebar{
    width: 15%;
    padding: 10px;
    height: 1000px;
    background-color: #3c4b64;
    color: #cdd2db;
    position: fixed;
}

.admin-sidebar-options{
    display: flex;
    flex-direction: column;
}

.admin-sidebar-options button{
    text-align: left;
    border: none;
    background-color: transparent;
    margin-top: 8px;
    padding: 10px;
    color: #a4acb8;
}

.admin-sidebar-options button:hover{
    background-color: #46546c;
}

.admin-head{
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.admin-content{
    width: 100%;
    margin-left: 15%;
    padding: 10px;
}

.admin-nav{
    display: flex;
    justify-content: flex-end;
}

.admin-nav button{
    padding: 8px;
    border: none;
    color: #fff;
    border-radius: 8px;
}

/* leads section */
.leads_section_admin{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}

/* message box */
.message-box {
    padding: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    margin-bottom: 12px;
  
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    }
  }
  
  .message-box:hover {
    background-color: #f5f5f5; 
  }
  
  /* box section */

  .dash-box{
    width: 250px;
    height: 150px;
    margin-left: 18px;
    border-radius: 10px;
    padding: 12px;
  }

  .box_content{
    display: flex;
    flex-direction: column;
  }

  .box_content span{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
  }

  /* roles section */
  .add_role_modal{
    position: absolute !important;
    top: 35% !important;
    left: 40% !important;
  }

  